/* assets/styles.css */

/* Definir a largura e altura da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
}

/* Contêiner para as imagens */
.image-container {
    display: flex;
    flex-direction: column; /* Alinha as imagens de cima para baixo */
    gap: 20px; /* Espaçamento entre as imagens */
}

/* Garantir que as imagens não ultrapassem a largura da tela */
img {
    max-width: 100%;
    height: auto;
}
