/* Resetando os estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Estilos do blog */
.blog {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}

/* Estilo de cada post */
.post {
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo da imagem do post */
.post img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

/* Estilo do conteúdo do post */
.post-content {
    padding: 15px;
    flex: 1;
}

/* Título do post */
.post-title {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

/* Descrição do post */
.post-description {
    margin-top: 10px;
    font-size: 1rem;
    color: #666;
    cursor: pointer;
}

.post-title:hover,
.post-description:hover {
    text-decoration: underline;
}
