/* assets/styles.css */

/* Definir estilo básico para o corpo */
body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Garantir que a altura ocupe a tela toda */
    overflow: hidden; /* Impedir barras de rolagem */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Cor de fundo preta para combinar com o vídeo */
}

/* Estilo para o vídeo */
video {
    position: absolute; /* Posiciona o vídeo fora do fluxo normal */
    top: 0;
    left: 0;
    width: 100%; /* Largura 100% da tela */
    height: 100%; /* Altura 100% da tela */
    object-fit: cover; /* Faz o vídeo cobrir toda a tela sem distorcer */
    z-index: -1; /* Coloca o vídeo no fundo da página */
}
